language: php

matrix:
  allow_failures:
    - php: hhvm
      env: PHP_VERSION=7.0.1
  include:
    - php: 5.3
      dist: precise
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - phpunit -c tests/build.xml

notifications:
    on_success: never
    on_failure: always